.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
}

.nav__logo,
.nav__avatar {
  max-width: 140px;
  height: 40px;
  cursor: pointer;
}

.nav__avatar {
  border-radius: 50%;
}
