.row__posters {
  gap: 10px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}
.row__poster {
  padding: 0 5px;
  object-fit: contain;
  max-width: 100%;
  max-height: 350px;
  transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.row__poster:hover {
  cursor: pointer;
  transform: scale(1.08);
}

::-webkit-scrollbar {
  display: none;
}

.row__backdrop {
  height: 150px;
}

.row {
  color: #fff;
  margin: 20px 20px 0 20px;
  padding-bottom: 20px;
}
